* h1 {
    color: rgba(15, 109, 138, 0.623);
    text-align: center;
}

#contenedor {
    width: 1100px;
    margin: 0 auto;
}

#encabezado {
    height: 150px;
    background: #43ac92;
}

#menu {
    height: 50px;
    background: #30af74;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin: 0 15px;
    padding: 10px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    text-shadow: #43ac92;
}

#contenido {
    background: #b3b2bd;
}